.DS_Store
testsql

assignments-2-3/db2700/run_front
assignments-2-3/db2700/run_test
assignments-2-3/db2700/run_front.dSYM
assignments-2-3/db2700/run_test.dSYM
assignments-2-3/db2700/_obj
assignments-2-3/db2700/tests
**/doc/
assignments-2-3/db2700/doc/